<a href="https://colab.research.google.com/github/toceen/HAMOYE-INTERNSHIP/blob/main/INTRODUCTION%20TO%20MACHINE%20LEARNING%20USING%20PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:

# Import required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv("https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [20]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [21]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [25]:
selected_columns = df[['Y2017', 'Area']]
grouped_data = selected_columns.groupby('Area').sum()
area_with_7th_lowest_sum = grouped_data.sort_values(by='Y2017').index[6]
print("Area with the 7th lowest sum in 2017:", area_with_7th_lowest_sum)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [26]:
data_2017 = df['Y2017']
mean_2017 = round(data_2017.mean(), 2)
std_dev_2017 = round(data_2017.std(), 2)
print("Mean for the year 2017:", mean_2017)
print("Standard deviation for the year 2017:", std_dev_2017)

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

In [27]:
data_2014 = df['Y2014']
missing_count_2014 = data_2014.isnull().sum()
percentage_missing_2014 = round((missing_count_2014 / len(data_2014)) * 100, 3)
print("Total number of missing data in 2014:", missing_count_2014)
print("Percentage of missing data in 2014:", percentage_missing_2014)

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607

In [28]:
selected_columns = df[['Y2017', 'Area']]
grouped_data = selected_columns.groupby('Area').sum()
area_with_highest_sum = grouped_data['Y2017'].idxmax()
print("Area with the highest sum in 2017:", area_with_highest_sum)

Area with the highest sum in 2017: Nigeria